
on: push

jobs:
  job1:
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      output1: abc.txt
    steps:
      - id: step1
        run: echo "Following Buses might be down: [intjmsbus]" > abc.txt
 
  Groovy-Script:
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - name: checkout
        uses: actions/checkout@v2.4.2
     
      - name : take file
        run: echo ${{needs.job1.outputs.output1}} > abc1.txt
    
      - name: setup Python
        uses: actions/setup-python@v3
        
      - name: install dependencies
        run : python -m pip install pytz
        
      - name: run py script
        run: python .github/workflows/timstamp.py
          
        
